<%-include("partials/header.ejs")%>
<main class="about-main">
<h1>About Me</h1>
<img class="profile" src="/images/WhatsApp Image 2025-04-06 at 17.19.11.jpeg" alt="khanak profile">
<p>
  Hi! Khanak Khandelwal from Jaipur pursuing B.Tech in Computer Science from JECRC University. I did my schooling from CBSE.
  A solution oriented leader who thrives in an agile manner, and fosters a positive team culture.possessing a robust technical 
  foundation in Python and Java and Web Development. I am an IEO medalist with rank 13 in Rajasthan,
  This blend of technical and soft skills positions me to align seamlessly with this industry.
  My all time favourite hobby is reading books genre which i love to read is self help,
  while continuing to grow both personally and professionally.</p> 
  </main>
  <%-include("partials/footer.ejs")%>
  